.classpath
.project
.settings/
.springBeans
target/

.idea/.name
.idea/game-link-manager.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/jsLibraryMappings.xml
.idea/watcherTasks.xml
