<!DOCTYPE html>
<html lang="zh_CN" data-ng-app="loginApp">
<head>
	<title>Game Link Manager Login</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--告诉浏览器能够响应屏幕宽度-->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" type="text/css" href="../../../app/lib/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../../app/adminLTE/dist/css/AdminLTE.min.css">
	<!--皮肤-->
	<link rel="stylesheet" type="text/css" href="../../../app/adminLTE/plugins/iCheck/square/blue.css">
	<!-- 图标字体：引用CDN，因为图标字体引用了woff、ttf等文件。 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">

	<!-- 必须的JS脚本 -->
	<!-- jQuery 2.2.3:这是adminLIT插件包的jQuery,adminLTE已对其进行了扩展。 -->
	<script type="text/javascript" src="../../../app/lib/jQuery/2.2.3/jquery-2.2.3.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script type="text/javascript" src="../../../app/lib/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!-- iCheck -->
	<script type="text/javascript" src="../../../app/adminLTE/plugins/iCheck/icheck.min.js"></script>
	<script type="text/javascript" src="../../../app/lib/angularJS/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="../../../app/lib/angularJS/1.5.7/angular-resource.min.js"></script>
	<script type="text/javascript" src="../../../app/lib/jsencrypt/jsencrypt.min.js"></script>
	<script type="text/javascript" src="../../../app/module/common_module/common.js"></script>
	<script type="text/javascript" src="../../../app/module/login_module/login.js"></script>
	<script>
	  $(function () {
	    $('input').iCheck({
	      checkboxClass: 'icheckbox_square-blue',
	      radioClass: 'iradio_square-blue',
	      increaseArea: '20%' // optional
	    });
	  });
	</script>
</head>
<body class="hold-transition login-page" ng-controller="loginCtrl">
	<div class="login-box">
		<div class="login-logo">
			<b>Game Link Manager</b>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>

			<form name="loginForm" novalidate="novalidate" class="form" ng-submit="login()">
				<div class="form-group has-feedback">
					<input type="email" class="form-control" name="email" placeholder="邮箱" ng-model="user.email" required>
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
				</div>
				<div class="form-group" ng-show="loginForm.email.$dirty&&loginForm.email.$invalid">
					<span class="text-danger" ng-show="loginForm.email.$error.required">邮箱不允许为空。</span>
					<span class="text-danger" ng-show="loginForm.email.$error.email">请输入合法的邮箱。</span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" name="password" placeholder="密码" ng-model="user.password" ng-minlength="6" ng-maxlength="24" required>
					<cng-encrypt ng-model="user.password"/>
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="form-group" ng-show="loginForm.password.$dirty&&loginForm.password.$invalid">
					<span class="text-danger" ng-show="loginForm.password.$error.required">密码不允许为空。</span>
					<span class="text-danger" ng-show="loginForm.password.$error.minlength||loginForm.password.$error.maxlength">密码长度在6-24位之间。</span>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="text" name="kaptcha" class="form-control" placeholder="验证码" required ng-model="user.kaptcha">
						<div class="input-group-addon" style="padding: 0 0px;border: 0px">
							<img src="kaptcha.jpg" cng-kaptcha alt="验证码">
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="loginForm.kaptcha.$dirty&&loginForm.kaptcha.$invalid">
					<span class="text-danger" ng-show="loginForm.kaptcha.$error.required">
						验证码不允许为空
					</span>
					<span class="text-danger" ng-show="loginForm.kaptcha.$error.required">
						验证码错误
					</span>
				</div>
				<div class="form-group" ng-show="loginForm.kaptcha.$dirty&&loginForm.kaptcha.$invalid">
					<span class="text-danger" ng-show="loginForm.kaptcha.$error.required">
						验证码错误
					</span>
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<label><input type="checkbox" name="autoLogin" cng-checked>自动登录</label>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="loginForm.$invalid">登录</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
			<!--
			<div class="social-auth-links text-center">
				<p>- OR -</p>
				<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"> <i class="fa fa-facebook"></i>
					使用Facebook
				</a>
				 <a href="#" class="btn btn-block btn-social btn-google btn-flat"> <i class="fa fa-google-plus"></i>
					使用Google +
				</a> 
			</div>
			-->

			<!-- /.social-auth-links -->

			<a href="#" ng-click="forgotPassword()">忘记密码</a>
			<!-- 
			<br>
			<a href="register.html" class="text-center">注册</a> 
			-->

		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

</body>
</html>