<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="gamePioneerList('58744e822e3401385462cd65');">游戏尖兵</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="gameGiftList('58744e822e3401385462cd65');">礼包</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" ui-sref='gameAdd'>游戏添加编辑</button>
    </div>
</div>

</body>
</html>