<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in giftBag">
	  <div class="info-box bg-aqua" data-toggle="modal" data-target="#giftBagModal"  ng-click="getDiftBag(item)">
	    <span class="info-box-icon"><i class="fa fa-envelope-o"></i></span>
	
	    <div class="info-box-content">
	      <span class="info-box-text">{{item.ggname}}</span>
	      <span class="info-box-number">{{item.dsc.length>17?item.dsc.substring(0,17)+'......':item.dsc}}</span>
	    </div>
	    <!-- /.info-box-content -->
	  </div>
	  <!-- /.info-box -->
	</div>
</div>

<div class="modal fade modal-primary" id="giftBagModal" 
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						礼包名称：{{singleGiftBag.ggname}}
					</div>
					<div class="col-md-8">
						使用游戏：{{singleGiftBag.gname}}
					</div>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-md-4">
						领取时间：{{singleGiftBag.applyTime|date:'yyyy-MM-dd HH:mm:ss'}}
					</div>
					<div class="col-md-8">
						KEY：{{singleGiftBag.pkcode}}
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						礼包介绍说明：
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<textarea style="width: 100%;height: 200px;margin-top: 15px;color: black;resize:none">{{singleGiftBag.dsc}}</textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">返回</button>
			</div>
		</div>
	</div>
</div>
