<section class="content-header">
	<h1>
		用户管理<small>用户详情</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
		<li class="active">用户管理</li>
		<li class="active">用户详情</li>
	</ol>
</section>

<style type="text/css">
	.glUserDetail{height: 47px;line-height: 47px;}
</style>
<!-- Main content -->
<section class="content">
	<!-- 页面内容在此处 -->
	<div class="box container-fluid">
		<div class="box-header">
			<h1 class="box-title"><b>用户详情</b></h1>
			<span class="btn btn-primary btn-flat btn-xs">正常用户</span>

			<div class="box-tools pull-right">
				<button class="btn btn-success">解封</button>
				<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
					<i class="fa fa-minus"></i></button>
				<button ng-click="isGlUserViewTrue()" ui-sref="glUser" type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
					<i class="fa fa-times"></i></button>
			</div>
		</div>
		<div class="box-body">
			<div class="row col-md-12 h3">
				<div class="row bg-success glUserDetail">
					<div class="col-md-2 text-nowrap">手机号：</div>
					<div class="col-md-4">{{glUser.mobile}}</div>
					<div class="col-md-2">用户游戏类型：</div>
					<div class="col-md-4">
						<span ng-repeat="item in glUser.favoriteTypes">
							[{{item}}]&nbsp;&nbsp;
						</span>
					</div>
				</div>
				<div class="row glUserDetail">
					<div class="col-md-2">昵称：</div>
					<div class="col-md-4">{{glUser.nickname}}</div>
					<div class="col-md-2">交友签名：</div>
					<div class="col-md-4">{{glUser.motto}}</div>
				</div>
				<div class="row glUserDetail">
					<div class="col-md-2">正在玩的游戏：</div>
					<div class="col-md-4">{{glUser.playingGame.gname}}</div>
					<div class="col-md-2">关注的游戏：</div>
					<div class="col-md-4">
						<span ng-repeat="item in glUser.concernedGame">
							[{{item.gname}}]&nbsp;&nbsp;
						</span>
					</div>
				</div>
				<div class="row glUserDetail">
					<div class="col-md-2">所在服务器：</div>
					<div class="col-md-4">{{glUser.gameServer}}</div>
					<div class="col-md-2">游戏角色：</div>
					<div class="col-md-4">{{glUser.gameNickname}}</div>
				</div>
			</div>




			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<div class="box-header">
							<h1 class="box-title"><b><a ui-sref="glUser.detail.photo">用户相册</a></b></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<h1 class="box-title"><b><a ui-sref="glUser.detail.dynamic">用户动态</a></b></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<h1 class="box-title"><b><a ui-sref="glUser.detail.giftBag">用户礼包</a></b></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<h1 class="box-title"><b><a ui-sref="glUser.detail.pioneer">用户尖兵任务</a></b></h1>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
									<i class="fa fa-minus"></i></button>
							</div>
						</div>
						<div class="box-footer">
							<ui-view>用户详情图片礼包任务等信息</ui-view>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>