
<ul class="nav nav-tabs" data-cng-nav-active>
	<li class="active"><a data-toggle="tab" ng-click="readStatus()">全部</a></li>
	<li><a data-toggle="tab" ng-click="readStatus(0)">进行中任务</a></li>
	<li><a data-toggle="tab" ng-click="readStatus(2)">已完成任务</a></li>
</ul>
<div>
	<cng-datatable cng-property-dt-option="dtOption()"
				   cng-property-dt-return-value="pioneerApi" 
				   cng-property-active="true" 
				   cng-property-checkbox-confing="checkboxConfing"/>
</div>


<div class="modal fade modal-primary" id="gameTaskModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4>{{pioneerDetail.pname}}</h4>
			</div>
			<div class="modal-body">
				{{pioneerDetail.pdesc}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
			</div>
		</div>
	</div>
</div>
