<section class="content-header">
	<h1>
		用户管理<small>用户详情</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
		<li class="active">用户管理</li>
		<li class="active">用户详情</li>
	</ol>
</section>

<style>
li {
  word-break: break-all;/* 在合适的点换行 */
  word-wrap: break-word;/* 指定如果足够长得话，应该换行 */
  overflow: hidden;/* 内容会被修剪，并且其余内容是不可见的。 */
}
</style>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-3">
			<div class="box box-primary">
				<div class="box-body box-profile">
					<img class="profile-user-img img-responsive img-circle" src="{{glUserDetail.avatarImage.resURI}}" alt="用户头像">
					<h3 class="profile-username text-center">{{glUserDetail.nickname}}</h3>
					<p class="text-muted text-center"></p>
					<ul class="list-group list-group-unbordered">
		                <li class="list-group-item">
		                	<span ng-switch="glUserDetail.status">
		                	<b ng-switch-when="NORMAL" class="label label-success">正常</b>
		                	<b ng-switch-when="FORBID" class="label label-danger">封禁</b>
		                	<b ng-switch-default class="label label-info">{{glUserDetail.status}}</b>
		                	</span>
		                	<span class="pull-right">
		                		<span ng-if="glUserDetail.status==='FORBID'" class="btn btn-primary btn-xs" ng-click="banAccount('NORMAL',glUserDetail.id)">解封</span>
		                		<span ng-if="glUserDetail.status!=='FORBID'" class="btn btn-danger btn-xs" ng-click="banAccount('FORBID',glUserDetail.id)">封禁</span>
		                	</span>
		                </li>
		                <li class="list-group-item">
		                	<b>手机号</b>
		                	<span class="pull-right">
		                		{{glUserDetail.mobile}}
		                	</span>
		                </li>
		                <li class="list-group-item">
		                	<b>交友签名</b>
		                	<span class="pull-right">
		                		{{glUserDetail.motto}}
		                	</span>
		                </li>
		            </ul>
				</div>
			</div>
			<div class="box box-primary">
				<div class="box-header with-border">
            		<h3 class="box-title">我的游戏</h3>
            	</div>
            	<div class="box-body">
            		<strong><i class="fa fa-book margin-r-5"></i>关注的游戏</strong>
            		<p class="text-muted">
            			<span ng-repeat="item in glUserDetail.concernedGame" ng-class="$index%2==0?'label label-success':'label label-danger'">
							{{item.gname}}
						</span>
            		</p>
            		<hr>
            		<strong><i class="fa fa-book margin-r-5"></i>正在玩的游戏</strong>
            		<p class="text-muted">{{glUserDetail.playingGame.gname}}</p>
            		<hr>
            		<strong><i class="fa fa-book margin-r-5"></i>游戏类型</strong>
            		<p class="text-muted">
						<span ng-repeat="item in glUserDetail.favoriteTypes" ng-class="$index%2==0?'label label-info':'label label-warning'">
							{{item.gtName}}
						</span>
					</p>
					<hr>
            		<strong><i class="fa fa-book margin-r-5"></i>所在服务器</strong>
            		<p class="text-muted">{{glUserDetail.gameServer}}</p>
            		<hr>
            		<strong><i class="fa fa-book margin-r-5"></i>游戏角色</strong>
            		<p class="text-muted">{{glUserDetail.gameNickname}}</p>
            		<hr>
            	</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs" data-cng-nav-active>
					<li id="photo" class="active">
						<a ui-sref="glUser.detail.photo" data-toggle="tab">
							相册
							<span class="badge" style="background-color: rebeccapurple;">{{data.photo_num}}</span>
						</a>
					</li>
					<li id="dynamic">
						<a ui-sref="glUser.detail.dynamic" data-toggle="tab">
							动态
							<span class="badge" style="background-color: rebeccapurple;">{{data.dynamic_num}}</span>
						</a>
					</li>
					<li id="giftBag">
						<a ui-sref="glUser.detail.giftBag" data-toggle="tab">
							礼包
							<span class="badge" style="background-color: rebeccapurple;">{{data.giftBag_num}}</span>
						</a>
					</li>
					<li id="pioneer">
						<a ui-sref="glUser.detail.pioneer" data-toggle="tab">
							尖兵任务
							<span class="badge" style="background-color: rebeccapurple;">{{data.pioneer_num}}</span>
						</a>
					</li>
		            <div class="pull-right">
			            <button ng-click="isGlUserViewTrue()" ui-sref="glUser" type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="后退">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</ul>
				<div class="tab-content">
					<!-- 注意：active类显示 -->
					<div class="tab-pane active">
						<ui-view></ui-view>
					</div>
				</div>
			</div>
		</div>
	</div>		
</section>